---
import Layout from '../layouts/Layout.astro';
// import { useState } from 'react';

// const [formData, setFormData] = useState({
//     name: '',
//     email: '',
//     date: '',
//     time: '',
//     institution: ''
// });

// const handleChange = (e) => {
//     const { name, value } = e.target;
//     setFormData({
//         ...formData,
//         [name]: value
//     });
// };

// const handleSubmit = (e) => {
//     e.preventDefault();
//     // Aquí puedes manejar el envío del formulario, por ejemplo, enviarlo a un servidor
//     console.log(formData);
// };
---



<Layout>
    <div class="h-screen">
        <div class="py-12">
            <h1 class="text-5xl mb-8 capitalize mt-12 text-center mb-8 font-bold"><span class="text-blue-500">
                Nuestro  </span>calendario</h1>
            <p class="text-center text-gray-400 text-xl">Selecciona la fecha y hora de tu visita</p>
            <div class="flex gap-4 mt-12">
                <div class="shadow-2xl rounded-2xl text-gray-400 p-4">
                    <h2 class="text-2xl text-gray-950 text-center">Rellena tus datos</h2>
                    <form  class="p-8 flex flex-col gap-4">
                        <div class="flex justify-between gap-4">
                            <label for="name">Nombre:</label>
                            <input type="text" id="name" name="name" required class="border rounded-md p-1"/>
                        </div>
                        <div class="flex justify-between gap-4">
                            <label for="email">Correo Electrónico:</label>
                            <input type="email" id="email" name="email"  required class="border rounded-md p-1"/>
                        </div>
                        <div class="flex justify-between">
                            <label for="date">Fecha de Visita:</label>
                            <input type="date" id="date" name="date" required class="border rounded-md p-1"/>
                        </div>
                        <div class="flex justify-between">
                            <label for="time">Hora de Visita:</label>
                            <input type="time" id="time" name="time" required class="border rounded-md p-1" />
                        </div>
                        <div class="flex justify-between">
                            <label for="institution">Institución:</label>
                            <input type="text" id="institution" name="institution" required class="border rounded-md p-1"/>
                        </div>
                        <button type="submit" class="bg-blue-500 text-white p-4 rounded-xl mt-8 uppercase">Reservar Visita</button>
                    </form>
                </div>
                <div class="shadow-2xl flex-grow rounded-xl p-8">
                    <h1 class="text-xl mb-4">Diciembre 2024</h1>
                    <div class="grid grid-cols-7 w-[600px] gap-2 text-center">
                        <div class="bg-blue-100">
                            lun
                        </div>
                        <div>
                            mar
                        </div>
                        <div>
                            mie
                        </div>
                        <div>
                            jue
                        </div>
                        <div>
                            vie
                        </div>
                        <div>
                            sab
                        </div>
                        <div>
                            dom
                        </div>
                        <div class="bg-red-100 hover:bg-blue-100 text-red-500">
                            1
                        </div>
                        <div class="hover:bg-blue-100">
                            2
                        </div>
                        <div>
                            3
                        </div>
                        <div>
                            4
                        </div>
                        <div>
                            5
                        </div>
                        <div>
                            6
                        </div>
                        <div>
                            7
                        </div>
                        <div>
                            8
                        </div>
                        <div>
                            9
                        </div>
                        <div>
                            10
                        </div>
                        <div>
                            12
                        </div>
                        <div>
                            13
                        </div>
                        <div>
                            14
                        </div>
                        <div>
                            15
                        </div>
                        <div>
                            16
                        </div>
                        <div>
                            17
                        </div>
                        <div>
                            18
                        </div>
                        <div>
                            19
                        </div>
                        <div>
                            20
                        </div>
                        <div>
                            21
                        </div>
                        <div>
                            22
                        </div>
                        <div>
                            23
                        </div>
                        <div>
                            24
                        </div>
                        <div>
                            25
                        </div>
                        <div>
                            26
                        </div>
                        <div>
                            26
                        </div>
                        <div>
                            28
                        </div>
                        <div>
                            29
                        </div>
                        <div>
                            30
                        </div>
                        <div>
                            31
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</Layout>