
---
import LayoutAuth from "../layouts/LayoutAuth.astro"
---

<LayoutAuth>
    <div class="bg-gradient-to-r from-blue-700 via-blue-600 to-blue-400">
        <div class="container h-screen mx-auto flex">
            <div class="p-16   flex w-full text-white gap-8">
                <div class="grow  flex flex-col justify-center">
                    <h1 class="text-6xl uppercase font-bold">Visitas fiis</h1>
                    <p class="mt-4 opacity-90 capitalize">Registrate para poder agendar tu visita.</p>
                    <p class="mt-8 "><span class="opacity-60">Si ya cuentas con un registro solo,</span> <a href="" class="">logeate</a></p>
                </div>
                <div class="grow  px-20">
                    <div class="form bg-white text-black p-8 rounded-lg">
                        <h2 class="text-2xl capitalize text-center mb-4 font-bold">Unete a nosotros</h2>
                        <p class="text-center text-xs opacity-40">Solo son unos pocos datos </p>
                        <form action="" class="py-16 border-b  gap-4 flex flex-col">
                            <div>
                                <input type="text" placeholder="numero de identificacion" class="py-3 px-4 w-full border rounded-xl">
                            </div>
                            <div>
                                <input type="text" placeholder="telefono" class="py-3 px-4 w-full border rounded-xl">
        
                            </div>
                            <div class="text-center">
                                <a href="">olvidaste tu password?</a>
                            </div>
                            
                            <div>
                                <button class="w-full bg-blue-500 py-2 rounded-xl text-white">Registrate</button>
                            </div>
                        </form>
                        <div class="py-16">
                            <div class="flex justify-center gap-4 items-center">
                                <button class="py-2 rounded-xl bg-blue-50 px-8"><span><i class="fa-brands fa-google"></i></span> Google</button>o<button class="py-2 rounded-xl bg-blue-50 px-8"><span><i class="fa-brands fa-google"></i></span> outlook</button>
                            </div>
                            
                            <div class="mt-16">
                                <p class="text-center">ya estas registrado? <a href="" class="text-blue-500">login</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</LayoutAuth>