---
  import Calendar from "./Calendar.astro"
  import RegisterForm from "./RegisterForm.astro"
---

<div class="cita-section py-12 px-4" id="cita-section">
  <h1 class="text-3xl mb-8 capitalize mt-12 text-center mb-8 font-bold">
    <span class="text-blue-500">Elige un dia para</span>
    tu visita
  </h1>
  <p class="text-gray-400 text-center">
    En esta seccion podras agendar una visita a nuestra facultad de manera
    sencilla
  </p>
  <p class="text-gray-400 text-center">
    Solo rellena los campos necesarios selecciona a una fecha y hora y tu cita
    sera enviada, en el transcurso del dia se te enviará la confirmacion 😉
  </p>
  <div class="flex gap-4 mt-12">
    
      <Calendar />
  </div>
</div>

